<%- include("_header") -%>

<p>list</p>

<% for(const blog of blogList){ %>
<tr>
  <td><%= blog.title %></td>
  <td>
    <div>
      <a href="/edit/<%= blog._id %>" class="btn btn-sm btn-warning">Edit</a>
    </div>
    <div>
      <a
        href="/delete/<%= blog._id %>?_method=DELETE"
        class="btn btn-sm btn-danger"
        >Delete</a
      >
    </div>
    <!-- <form action="/delete/<%= blog._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form> -->
  </td>
</tr>
<% } %> <%- include("_footer") -%>
